<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body></body>
    <form action="login" method="post">
    {%csrf_token%}
    <h1><b>User login form</b></h1>
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <button type="submit" value="logout">
        LOGIN


    </form>

    <div>

        