.single_product{
    background-color: #fff;
     padding: 11px;
}
.carousel-item{
    max-height: 640px;
   }
   
   .a{
    text-align: center;  
   }
    .light{
    background-color: lightgrey;
   }
   .da{
    color: rgb(255, 0, 21);
    }
    .back{
      background: lightgreen;
    }
    .container-fluid{
       background-color: transparent;
    }
    .milky{
       background-color: ghostwhite;
    }
    /* new  */
    .signcontainer{
       visibility: visible;
    }
    
    
     
     /* Montserrat-300 - latin */
     
     
       .card1 {
        width: 600px;
        box-sizing: border-box;
        font-family: ubunutu;
        border-radius: 25px;
        color: white;
        box-shadow: 5px 5px 10px #ccc;
        float:inline-start;
      }
      
    
      .button {
        text-transform:capitalize;
        width: 150px;
        display: block;
        margin: auto;
        color: #4600f1;
        border-radius: 50px;
        padding: 1em;
        background: white;
        border: none;
        font-weight: bold;
        margin-top: 4em;
      }
      .card1.purple{
         
          background: linear-gradient(-45deg, #e25328, #e42f74, #20e6d6, #34ff78);
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
        }
        
        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
    
    .dropdown-menu{
      background: linear-gradient(-45deg, #ff0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .c1{
      color: white;
    }
   body{
     font-family: ubunutu;
     text-shadow: #181818;
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
   }
   
   @keyframes gradient {
     0% {
       background-position: 0% 50%;
     }
     50% {
       background-position: 100% 50%;
     }
     100% {
       background-position: 0% 50%;
     }
   }
   A {text-decoration: none;}
   .color{
     color: #fff;
   }
   
   /* footer */
   .footer_widgets{
     background-color: #181818; color:#fff; padding-top:40px;
   }
   .footer_top{
     border-bottom: 1px solid #000;
   }
   .texts_footer{
     color:#fff;
   }
   .texts_footer1{
     margin-left: 20px;
     color: #fff;
   }
   .texts_footer2{
     color:#000;
   }
   .item{
     align-self: center;
     max-height: 400px;
   
   }
   .carousel{
     background-color: #000;
   }
   .image{
     background-image: url(shop1.jpg);
     max-height: 100%;
     
   }
.i1{
size: 10cm;
}   


.bg{
  background-color: #fff;
}
.image-main{
  max-height: max-content;
  min-height: max-content;
}